.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}


/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    min-height: 750px; /* Should be removed. Only for demonstration */
    font-size: 20px;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tipcontent {
    display: none;
}



#centCon {
    margin-top: 125px;
    margin-left: 200px;
    margin-right: 200px;
    vertical-align: middle;
}

#SSPrice input, label {
    display:block;
}

input[type=text] {
    display: inline-block;
}

#address{
    width: 450px;
}

#btnGrab {
    margin-left: 85px;
}

#btnClear {
    margin-left: 85px;
}

#btnDisplayUsers {
    margin-left: 85px;
}

#btnNotif {
    float: right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 90%;
    overflow-y: auto; /* Enable scroll if needed */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.containerConcertHall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 4px;
    justify-items: stretch;
    align-items: stretch;
}

.containerPlayhouse {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 4px;
    justify-items: stretch;
    align-items: stretch;
}

.box {
    background-color: #539752;
    color: #fff;
    border-radius: 1px;
    padding: 0px;
    font-size: 50%;
}

.box:hover {
    cursor: pointer;
}

.disabled {
    background-color: #28607f;
    color: #fff;
    border-radius: 1px;
    padding: 0px;
    font-size: 50%;
}

.disabled:hover {
    cursor: pointer;
}

.student {
    background-color: #97950c;
    color: #fff;
    border-radius: 1px;
    padding: 0px;
    font-size: 50%;
}

.student:hover {
    cursor: pointer;
}

.veteran {
    background-color: #7f0c00;
    color: #fff;
    border-radius: 1px;
    padding: 0px;
    font-size: 50%;
}

.veteran:hover {
    cursor: pointer;
}

.reserved {
    background-color: #747474;
    color: #ffffff;
    border-radius: 1px;
    padding: 0px;
    font-size: 50%;
}


.empty {
    background-color: #ececec;
    color: #000000;
    border-radius: 5px;
    padding: 0px;
    font-size: 90%;
}

/* CSS for help table*/
.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}