 .containerConcertHall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 4px;
    justify-items: stretch;
    align-items: stretch;
 }

 .containerPlayhouse {
     display: grid;
     grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-column-gap: 2px;
     grid-row-gap: 4px;
     justify-items: stretch;
     align-items: stretch;
 }

.box {
  background-color: #539752;
  color: #fff;
  border-radius: 1px;
  padding: 0px;
  font-size: 50%;
}

 .box:hover {
     cursor: pointer;
 }

 .disabled {
     background-color: #28607f;
     color: #fff;
     border-radius: 1px;
     padding: 0px;
     font-size: 50%;
 }

 .disabled:hover {
     cursor: pointer;
 }

 .reserved {
     background-color: #747474;
     color: #ffffff;
     border-radius: 1px;
     padding: 0px;
     font-size: 50%;
 }


 .empty {
     background-color: #ececec;
     color: #000000;
     border-radius: 5px;
     padding: 0px;
     font-size: 90%;
 }

 /* CSS for help table*/
 .input-color {
     position: relative;
 }
 .input-color input {
     padding-left: 20px;
 }
 .input-color .color-box {
     width: 10px;
     height: 10px;
     display: inline-block;
     background-color: #ccc;
     position: absolute;
     left: 5px;
     top: 5px;
 }